html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0")
    style html, body, #map { height: 100%; width: 100%; padding: 0; margin: 0; overflow: hide; }
  body
    #map
    script(src="/map.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDruAgAuewqg9GV_cxkj9PgGS4gvCvRLDY&callback=initMap", async, defer)
